body {
    background-color: darkgrey;
}

.container {
    color: black;
    background-color: white;
    width: 80%;
}

#header {
    height: 100px;
    /*background-color: cyan;*/
    text-align: center;
    vertical-align: middle;
    font-size: 75px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

#content {
    float: left;
    Width: 75%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#sidebar {

}

#footer {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    background-color: lightblue;
}

div#footer a {
    color: white;
    text-decoration: none;
}